/* 
// 03.Components
*/

.btn {
    border-radius: 8px;
    padding: 8px 30px;
    font-size: 16px !important;
    transition: all 0.5s;
    font-weight: 400;

    &:focus {
        box-shadow: none !important;
    }
    &:hover {
        transform: translateY(-2px);
        transition: all 0.5s;
    }
    &.btn-lg {
        padding: 10px 22px !important;
        font-size: 18px !important;
    }
    &.btn-sm {
        padding: 8px 16px !important;
        font-size: 14px !important;
    }
    @each $color,
    $value in $theme-colors {
        &.btn-#{$color} {
            background-color: rgba(22, 119, 255, 1);
            border: 1px solid rgba(22, 119, 255, 1);
            color: $white;
            &:hover,
            &:focus,
            &.focus,
            &:active,
            &.active {
                background-color: rgba(22, 119, 255, 1);
                border:1px solid rgba(22, 119, 255, 1);
                box-shadow: 0 3px 10px rgba(22, 119, 255, 1);
                color: $white !important;
            }
        }
        &.btn-outline-#{$color} {
            border: 1px solid rgba(22, 119, 255, 1);
            color: #{$value} !important;
            &:hover,
            &:focus,
            &.focus,
            &:active,
            &.active {
                background-color: rgba(22, 119, 255, 1);
                border:1px solid rgba(22, 119, 255, 1);
                box-shadow: 0 3px 10px rgba(22, 119, 255, 0.5);
                color: $white !important;
            }
        }
        &.btn-soft-#{$color} {
            background-color: rgba(22, 119, 255, 1);
            color: #{$value} !important;
        }
    }
    &.btn-light {
        background-color: rgba(22, 119, 255, 1);
        border: 1px solid $light;
        color: $dark !important;
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: rgba(22, 119, 255, 1);
            border: 1px solid rgba(22, 119, 255, 1);
            box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.8);
            color: $dark !important;
        }
    }
    &.btn-outline-light {
        border: 1px solid rgba(22, 119, 255, 1);
        color: $light !important;
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: rgba(22, 119, 255, 1);
            border: 1px solid rgba(22, 119, 255, 1);
            color: $dark !important;
        }
    }
}



.badge {
    padding: 7px 18px;
    font-size: 14px;
    box-shadow: 0 2px 1px rgba(90, 79, 220, 0.3);
}

@each $color, $value in $theme-colors {
    .badge {
        &.badge-soft-#{$color} {
            background: rgba($value, 0.12);
            color: #{$value};        
        }
    }
}